body {
  margin: 0;
  font-size: xx-small;
}

#accordion{
  font-size: xx-small;
}

table td tr{
  font-size: xx-small;
}

#toolbar{
	position: absolute;
	width: 130px;
	height: 70px;
	left: 89%;
	top: 88%;
	vertical-align:middle;
}

.tbutton{
	opacity:0.2;
}

.tbutton:hover {
    opacity:0.9;
}



.header{ 
	height: 18px;
	padding-bottom: 2px;
}

.logo{ 
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	height: 16px;
	width: 16px
}

.menu{ 
  width: 200px;
  height: 550px
}

#graph{
  top: 27;
  bottom: 10;
  left: 210;
  right: 10;
  position: absolute;
}

#graph-label {
  font-size: xx-small;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.ui-jqgrid .ui-jqgrid-htable th div{
  font-size: xx-small;
}

.ui-jqgrid tr.ui-row-ltr td {
    font-size: xx-small;
}

#depmng_conf_xml{
  height: 480px;
  width: 770px;
  font-size: small;
  overflow: auto;
}

#loadingScreen {
    background: url(images/loading.gif) no-repeat 5px 8px;
    padding-left: 25px;
  }
  /* hide the close x on the loading screen */
.loadingScreenWindow .ui-dialog-titlebar-close {
    display: none;
  }