body {
  margin: 0;
}

#accordion{
  font-size: xx-small;
}

table td tr{
  font-size: xx-small;
}

.header{ 
  height: 20px;
}

.menu{ 
  width: 200px;
  height: 500px
}

#graph{
  top: 27;
  bottom: 10;
  left: 210;
  right: 10;
  position: absolute;
  
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  font-family: sans-serif;
}